@import "../_variable";

.stickyNav {
	padding: 0.75rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	/*box-shadow: 0 -2px 3px rgba(100, 100, 100, 0.6);*/
	z-index: 2;
	background: $bgColor;
}

.navBody {
	/*margin: 0;*/
	padding: 0;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}

.navItem {
	list-style: none;
	flex-basis: 25%;
	cursor: pointer;
	text-align: center;

	svg path {
		transition: all 0.2s linear;
	}

	&:hover svg path:not(.homeIcon) {
		fill: $primaryColor;
	}

	&:hover .homeIcon {
		stroke: $primaryColor;
	}
}

.navLink {
	display: block;
}
