@import "../_variable";

.container {
	padding: 2rem;
	position: relative;
	height: 100%;
	user-select: none;
	overflow: auto;
}

.floatBtn {
	display: block;
	position: fixed;
	bottom: 10%;
	right: 5%;
	border: none;
	border-radius: 50%;
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	background: $textColor;
	color: $bgColor;
	cursor: pointer;
	transition: box-shadow 0.2s linear;

	&:hover {
		box-shadow: 0 0 6px rgba($textColor, 0.5);
	}

	@media only screen and (min-width: 640px) {
		right: 20%;
	}

	@media only screen and (min-width: 768px) {
		right: 25%;
	}

	@media only screen and (min-width: 992px) {
		right: 30%;
	}

	@media only screen and (min-width: 1200px) {
		right: 33%;
	}
}
