@import "../_variable";

.container {
	/*overflow: auto;*/
	/*height: 100%;*/
	padding: 1rem;

	& div:last-child {
		margin-bottom: 8rem;
	}
}

.sentMsg,
.receivedMsg {
	width: 80%;
	padding: 0.25rem;
	border-radius: 5px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;

	/*&::after {
		content: "";
		position: absolute;
		top: 15%;
		border-style: solid;
		border-width: 8px;
	}*/

	@media screen and (min-width: 768px) {
		width: 60%;
	}
}

.sentMsg {
	background: $accentColor;
	margin-left: auto;

	/*&::after {
		right: -7%;
		border-color: transparent transparent transparent $accentColor;
	}*/
}

.receivedMsg {
	margin-right: auto;
	background: $textColor;
	color: $bgColor;

	/*&::after {
		left: -7%;
		margin-left: 1px;
		border-color: transparent $textColor transparent transparent;
	}*/
}

.time {
	font-size: 0.75rem;
	text-align: right;
}
