:root {
	--primaryColor: #67f7b8;
	--bgColor: #1c1c24;
	--textColor: #d9d9d9;
	--accentColor: #2a9cff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	overflow: relative;
}

.container {
	/*background: red;*/
}
